<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">This is a app for write notes</p>
    <p>
    This web application will allow you to create notes to keep in mind the tasks you have to perform, and after accomplishing your goal, 
    delete them, thus leaving space for future notes.
    </p>
    <hr class="my-4">
    <a href="https://github.com/eloramirezcuadros" class="btn btn priary btn-lg">My Github</a>
    <a href="https://codepen.io/your-work/" class="btn btn priary btn-lg">My codePen</a>
</div>
