<div class="row">
    <div class="text-center mx-auto">
        <div class="card mx-auto container">
            <div class="card-header">
                <h1 class="title">Account Login</h1>
            </div>
            <img src="/img/homework.png" class="text-center mx auto logo" alt="logo">
            <div class="card-body">
                <form action="/users/signin" method="post">
                 <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                 </div>
                 <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" autofocus>
                 </div>
                 <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">SignIn</button>
                 </div>
                </form>
            </div>
        </div>
    </div>
</div>
